<div class="content-wrapper">
    <div class="row">
        <div class="col-md-12 grid-margin">
            <div class="row">
                <div class="col-md-12 grid-margin">
                    <div class="row">
                        <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                            <h3 class="font-weight-bold">Gestion des applications</h3>
                        </div>
                        <div class="col-12 col-xl-4">
                            <div class="justify-content-end d-flex">
                                <div class="dropdown flex-md-grow-1 flex-xl-grow-0">
                                    <button class="btn btn-sm btn-light bg-white" [routerLink]="['/offres/add']">
                                        <i class="ti ti-plus"></i> Add Mission
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-12">
                      <div class="table-responsive">
                        <table class="table no-footer">
                            <thead>
                                <tr role="row">
                                    <th>Candidat</th>
                                    <th>Mission</th>
                                    <th>Status</th>
                                    <th colspan="3">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (application of applications | paginate : {
                                    itemsPerPage: applicationsPerPage,
                                    currentPage: currentPage,
                                    totalItems: totalApplicationsCount
                                  }; track application) { 
                                    <tr class="odd">
                                        {{application.candidate|json}}
                                        <td>{{application.candidate.firstName}} </td>
                                        <td>{{application.mission.title}}</td>
                                        <td>{{ application.statut }}</td>
                                        
                                        <td>
                                            <!-- View Modal -->
                                            <button class="btn btn-info"  data-bs-toggle="modal" data-bs-target="#viewModal"><i class="ti ti-eye"></i></button>
                                            <div class="modal fade" id="viewModal" tabindex="-1" aria-labelledby="viewModal" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <div class="d-flex align-items-center">
                                                                <h3>Mission: <b>{{application.title|uppercase}}</b></h3>
                                                            </div>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                           
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- End View Modal -->

                                            <!-- Edit Modal -->
                                            <button class="btn btn-primary"  data-bs-toggle="modal" data-bs-target="#editModal"><i class="ti ti-pencil"></i></button>
                                            <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModal" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Edit application {{application.lastName}} {{application.firstName}} </h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        ...
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                        <button type="button" class="btn btn-primary">Save Changes</button>
                                                    </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- End Edit Modal -->
                                           
                                            <!-- Delete Modal -->
                                            <button class="btn btn-danger"  data-bs-toggle="modal" data-bs-target="#deleteModal"><i class="ti ti-trash"></i></button>
                                            <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModal" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Delete Confirmation </h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        Are you sure to delete this application : ?
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                        <button type="button" class="btn btn-danger" (click)="deleteapplication(application._id)">Delete</button>
                                                    </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- End Delete Modal -->
                                            
                                        </td>
                                    </tr>
                            }
                            @empty {
                                    <tr>
                                        <td colspan="10" class="text-center">No applications Found</td>
                                    </tr>
                                }   
                            </tbody>
                        </table>                         
                    </div>
                </div>
                </div>
              </div>
              <div class="footer">
                  <div class="d-flex justify-content-center">
                    <pagination-controls
                        previousLabel="Prev"
                        nextLabel="Next"
                        (pageChange)="pageChangeEvent($event)"
                        ></pagination-controls>

                    </div>
              </div>
        </div>
    </div>
</div>
