
.status-received {
    background-color: #f0f0f0; /* Light grey */
    color: #333; /* Dark grey */
  }
  
  .status-under_review {
    background-color: #ffc107; /* Yellow */
    color: #333; /* Dark grey */
  }
  
  .status-in_progress {
    background-color: #28a745; /* Green */
    color: #fff; /* White */
  }
  
  .status-shortlisted {
    background-color: #007bff; /* Blue */
    color: #fff; /* White */
  }
  
  .status-application_declined {
    background-color: #dc3545; /* Red */
    color: #fff; /* White */
  }
  
  .status-rh_interview_scheduled {
    background-color: #6610f2; /* Purple */
    color: #fff; /* White */
  }
  
  .status-rh_interviewed {
    background-color: #6f42c1; /* Indigo */
    color: #fff; /* White */
  }
  
  .status-pending_decision {
    background-color: #17a2b8; /* Cyan */
    color: #fff; /* White */
  }
  
  .status-technical_interview_scheduled {
    background-color: #20c997; /* Teal */
    color: #fff; /* White */
  }
  
  .status-technical_interviewed {
    background-color: #17a2b8; /* Cyan */
    color: #fff; /* White */
  }
  
  .status-application_accepted {
    background-color: #28a745; /* Green */
    color: #fff; /* White */
  }
  
  .status-offer_sended {
    background-color: #ffc107; /* Yellow */
    color: #333; /* Dark grey */
  }
  
  .status-offer_accepted {
    background-color: #28a745; /* Green */
    color: #fff; /* White */
  }
  
  .status-offer_declined {
    background-color: #dc3545; /* Red */
    color: #fff; /* White */
  }
  
  .status-hired {
    background-color: #28a745; /* Green */
    color: #fff; /* White */
  }
  

