<button class="btn btn-primary" (click)="addLine()">Add Line</button>
@for (line of lines; track line;let index = $index) {
  <ng-container>
    <div class="row justify-content-center d-flex" [id]="'line'+index">
        <div class="form-group col-md-11 col-sm-12">
          <div class="row">
            @for (t of type ; track t) {
              <div class="form-group col-md-3 col-sm-12">
                <label>{{t.champ}}</label>
                @if(t.type === 'textarea') {
                  <textarea class="form-control" rows="3" ></textarea>
                }
                @else {
                  <input class="form-control" [type]="t.type"/>
                }
              </div>
            }
          </div>
        </div>
        <div class="form-group col-md-1 col-sm-12">
          <button class="btn btn-danger" (click)="removeLine(index)">X</button>
        </div>
    </div>
  </ng-container>
}
    