<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/dashboard']">
          <i class="ti-home menu-icon"></i>
          <span class="menu-title">{{"dashboard" | translate}}</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/candidats']">
          <i class="ti-user menu-icon"></i>
          <span class="menu-title">{{"candidates"|translate}}</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/recuiters']">
          <i class="ti-user menu-icon"></i>
          <span class="menu-title">{{"recruiters"|translate}}</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/administrateurs']">
          <i class="ti-briefcase menu-icon"></i>
          <span class="menu-title">{{"administrators"|translate}}</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/offres']">
          <i class="ti-announcement menu-icon"></i>
          <span class="menu-title">{{"jobs"|translate}}</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/entreprises']">
          <i class="ti-light-bulb menu-icon"></i>
          <span class="menu-title">{{"entreprises"|translate}}</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/applications']">
          <i class="ti-list menu-icon"></i>
          <span class="menu-title">{{"applications"|translate}}</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/stats']">
          <i class="ti-bar-chart  menu-icon"></i>
          <span class="menu-title">{{"statistics"|translate}}</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/logs']">
          <i class="ti-settings menu-icon"></i>
          <span class="menu-title">{{"logs"|translate}}</span>
        </a>
      </li>

    </ul>
  </nav>