<div class="content-wrapper">
    <div class="row">
        <div class="col-md-12 grid-margin">
            <div class="row">
                <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                    <h3 class="font-weight-bold">Gestion des administrateurs</h3>
                </div>
                <div class="col-12 col-xl-4">
                <div class="justify-content-end d-flex">
                <div class="dropdown flex-md-grow-1 flex-xl-grow-0">
                    <button class="btn btn-sm btn-light bg-white" [routerLink]="['/administrateurs/add']">
                        <i class="ti ti-plus"></i> Add Admin
                    </button>
                </div>
                </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-12">
                    <div class="table-responsive">
                        <table class="table no-footer">
                            <thead>
                                <tr role="row">
                                    <th></th>
                                    <th>Name</th>
                                    <th>Created At</th>
                                    <th>User Name</th>
                                    <th>E-mail</th>
                                    <th>Phone Number</th>
                                    <th>State</th>  
                                    <th colspan="3">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (admin of adminsList(); track admin){  
                                    <tr class="odd">
                                        <td><img class="img-user" [src]="admin.image ? admin.image : 'assets/images/auth/user.jpeg'" [alt]="admin.userName + ' Image'" /></td>
                                        <td class="sorting_1">{{admin.firstName}} {{admin.lastName}}</td>
                                        <td class="sorting_1">{{admin.createdAt|timeAgo}}</td>
                                        <td class="sorting_1">{{admin.userName}}</td>
                                        <td class="sorting_1">{{admin.email}}</td>
                                        <td class="sorting_1">{{admin.phoneNumber}}</td>
                                        <td class="sorting_1">
                                            @if(admin.userName != actualUser().userName) {
                                                <button class="btn btn-sm" [ngClass]="{'btn-success': admin.verified, 'btn-danger': !admin.verified}" (click)="toggleVerificationStatus(admin)">
                                                    {{ admin.verified ? 'Verified' : 'Not Verified' }}
                                                </button>
                                            }
                                            @else {  
                                                <span class="btn btn-sm" [ngClass]="{'btn-success': admin.verified, 'btn-danger': !admin.verified}" style="cursor: not-allowed;" title="It's you. You can't desactivate yourself !">
                                                    {{ admin.verified ? 'Verified' : 'Not Verified' }}
                                                </span>
                                            }
                                        </td>
                                        <td>
                                            <!-- View Modal -->
                                            <button class="btn btn-info"  data-bs-toggle="modal" data-bs-target="#viewModal"><i class="ti ti-eye"></i></button>
                                            <div class="modal fade" id="viewModal" tabindex="-1" aria-labelledby="viewModal" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                    <div class="modal-header">
                                                        <div class="d-flex align-items-center">
                                                            <img class="img-user" [src]="admin.image ? admin.image : 'assets/images/auth/user.jpeg'" [alt]="admin.userName + ' Image'" />
                                                            <h3>{{admin.lastName|uppercase}} {{admin.firstName|uppercase}}</h3>
                                                        </div>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                       <div class="row">
                                                           <div class="col-md-6">
                                                             <h5>General informations</h5>
                                                             <p><strong>First Name:</strong> {{admin.firstName}}</p>
                                                             <p><strong>Last Name:</strong> {{admin.lastName}}</p>
                                                             <p><strong>User Name:</strong> {{admin.userName}}</p>
                                                             <p><strong>E-mail:</strong> {{admin.email}}</p>
                                                             <p><strong>Phone Number:</strong> {{admin.phoneNumber}}</p>
                                                             <p><strong>State:</strong> {{admin.verified ? 'Verified' : 'Not Verified'}}</p>
                                                             <p><strong>Registred:</strong>{{admin.createdAt|timeAgo}}</p>
                                                           </div>
                                                            <div class="col-md-6">
                                                               
                                                              </div>
                                                       </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                    </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- End View Modal -->

                                            <!-- Edit Modal -->
                                            <button class="btn btn-primary"  data-bs-toggle="modal" data-bs-target="#editModal"><i class="ti ti-pencil"></i></button>
                                            <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModal" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Edit Admin {{admin.lastName}} {{admin.firstName}} </h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        ...
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                        <button type="button" class="btn btn-primary">Save Changes</button>
                                                    </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- End Edit Modal -->
                                           
                                            @if(admin.userName != actualUser().userName) {
                                                <!-- Delete Modal -->
                                                <button class="btn btn-danger"  data-bs-toggle="modal" data-bs-target="#deleteModal"><i class="ti ti-trash"></i></button>
                                                <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModal" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">Delete Confirmation </h5>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            Are you sure to delete this admin : <b>{{admin.lastName}} {{admin.firstName}}</b> ?
                                                            {{admin._id}}
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                            <button type="button" class="btn btn-danger" (click)="deleteAdmin(admin._id)">Delete</button>
                                                        </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- End Delete Modal -->
                                            }
                                        </td>
                                    </tr>
                            }
                                @empty {
                                    <tr>
                                        <td colspan="10" class="text-center">No Admins Found</td>
                                    </tr>
                                }
                            </tbody>
                        </table>                         
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
</div>
