.col-auto {
    width: 3rem;
    height: 100%;
   
}

.nav-item {
    button {
        color: #fff;
        
    }
    ul {
        height: auto;
    }
    .dropdown-menu{
        button {
            color: #000 !important;
        }
    }
}