# Node.js
node_modules/

# Logs
logs
*.log

# npm
npm-debug.log*

# Dependency directories
pids
*.pid
*.seed
*.pid.lock

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Yarn
yarn-error.log

# dotenv environment variables file
.env
.env.local
.env.development
.env.test
.env.production

# Visual Studio Code
.vscode/
