  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <p class="card-title">Advanced Table</p>
        <div class="row">
          <div class="col-12">
            <div class="table-responsive">
              <div
                id="example_wrapper"
                class="dataTables_wrapper dt-bootstrap4 no-footer"
              >
                <div class="row">
                  <div class="col-sm-12 col-md-6"></div>
                  <div class="col-sm-12 col-md-6"></div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <table
                      id="example"
                      class="display expandable-table dataTable no-footer"
                      style="width: 100%"
                      role="grid"
                    >
                      <thead>
                        <tr role="row">
                          <th
                            class="select-checkbox sorting_disabled"
                            rowspan="1"
                            colspan="1"
                            aria-label="Quote#"
                            style="width: 49px"
                          >
                            Quote#
                          </th>
                          <th
                            class="sorting_asc"
                            tabindex="0"
                            aria-controls="example"
                            rowspan="1"
                            colspan="1"
                            aria-label="Product: activate to sort column descending"
                            aria-sort="ascending"
                            style="width: 51px"
                          >
                            Product
                          </th>
                          <th
                            class="sorting"
                            tabindex="0"
                            aria-controls="example"
                            rowspan="1"
                            colspan="1"
                            aria-label="Business type: activate to sort column ascending"
                            style="width: 64px"
                          >
                            Business type
                          </th>
                          <th
                            class="sorting"
                            tabindex="0"
                            aria-controls="example"
                            rowspan="1"
                            colspan="1"
                            aria-label="Policy holder: activate to sort column ascending"
                            style="width: 50px"
                          >
                            Policy holder
                          </th>
                          <th
                            class="sorting"
                            tabindex="0"
                            aria-controls="example"
                            rowspan="1"
                            colspan="1"
                            aria-label="Premium: activate to sort column ascending"
                            style="width: 59px"
                          >
                            Premium
                          </th>
                          <th
                            class="sorting"
                            tabindex="0"
                            aria-controls="example"
                            rowspan="1"
                            colspan="1"
                            aria-label="Status: activate to sort column ascending"
                            style="width: 43px"
                          >
                            Status
                          </th>
                          <th
                            class="sorting"
                            tabindex="0"
                            aria-controls="example"
                            rowspan="1"
                            colspan="1"
                            aria-label="Updated at: activate to sort column ascending"
                            style="width: 60px"
                          >
                            Updated at
                          </th>
                          <th
                            class="details-control sorting_disabled"
                            rowspan="1"
                            colspan="1"
                            aria-label=""
                            style="width: 1px"
                          ></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr class="odd">
                          <td valign="top" colspan="8" class="dataTables_empty">
                            No data available in table
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

