<div class="content-wrapper">
  <div class="row">
    <div class="col-md-12 grid-margin">
      <div class="row">
        <div class="col-12 col-xl-8 mb-4 mb-xl-0">
          <h3 class="font-weight-bold">
            {{"welcome"|translate}} {{ actualUser().firstName }} {{ actualUser().lastName }}
          </h3>
          <h6 class="font-weight-normal mb-0">
            {{"alertes_number"|translate}}
            <span class="text-primary"
              >{{ actualUser().notifications.length }} {{"unread_messages"|translate}}</span
            >
          </h6>
        </div>
        <div class="col-12 col-xl-4">
          <div class="justify-content-end d-flex">
            <div class="dropdown flex-md-grow-1 flex-xl-grow-0">
              <button class="btn btn-sm btn-dark" type="button">
                <i class="ti-download menu-icon"></i> {{"export"|translate}}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 grid-margin stretch-card">
      <div class="card tale-bg">
        <div class="card-people mt-auto">
          <img src="assets/images/dashboard/people.svg" alt="people" />
          <div class="weather-info">
            <div class="d-flex">
              <div>
              
              </div>
              <div class="ml-2">
                <h4 class="location font-weight-normal">Paris</h4>
                <h6 class="font-weight-normal">France</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 grid-margin transparent ">
      <div class="row">
        <div class="col-md-6 mb-4 stretch-card">
          <div class="card card-tale">
            <div class="card-body">
              <div class="d-flex align-items-center">
                <i class="ti ti-user  fs-30 text-white icon-md"></i>
                <div class="px-3">
                  <p class="font-weight-bold fs-6">Total {{"users"|translate}}</p>
                  <p class="">
                    <span class="mb-3">{{ nbCandidates() }} {{"candidates"|translate}} </span> &
                    <span class="mb-3">{{ nbRecruiters() }} {{"recruiters"|translate}} </span> &
                    <span class="mb-3">{{ nbAdmins() }} {{"administrators"|translate}}</span>
                  </p>
                </div>
              </div>
              <div class="card-footer bg-transparent border-white">
                <a href="#" class="text-white text-decoration-none float-right"><i class="ti-eye mr-1"></i>{{"view_all"|translate}}</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 mb-4 stretch-card">
          <div class="card card-dark-blue">
            <div class="card-body">
              <div class="d-flex align-items-center">
                <i class="ti ti-briefcase  fs-30 text-white icon-md"></i>
                <div class="px-3">
                  <p class="font-weight-bold fs-6">Total {{"entreprises"|translate}}</p>
                  <p class="">
                    <span class="mb-3">
                      {{ nbCompanies() }} {{ "company" | translate }}
                     </span> &
                    <span class="mb-3">
                      {{ nbStartups() }} Startup
                    </span> 
                  </p>
                </div>
              </div>
              <div class="card-footer bg-transparent border-white">
                <a href="#" class="text-white text-decoration-none float-right"><i class="ti-eye mr-1"></i>{{"view_all"|translate}}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mb-4 stretch-card">
          <div class="card card-light-blue">
            <div class="card-body">
              <div class="d-flex align-items-center">
                <i class="ti ti-briefcase  fs-30 text-white icon-md"></i>
                <div class="px-3">
                  <p class="font-weight-bold fs-6">Total {{"jobs"|translate}}</p>
                  <p class="">
                    <span class="mb-3">{{ nbMissions() }} {{"jobs"|translate}}
                    </span> 
                  </p>
                </div>
              </div>
              <div class="card-footer bg-transparent border-white">
                <a href="#" class="text-white text-decoration-none float-right"><i class="ti-eye mr-1"></i>{{"view_all"|translate}}</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 mb-4 stretch-card">
          <div class="card card-light-danger">
            <div class="card-body">
              <div class="d-flex align-items-center">
                <i class="ti ti-file  fs-30 text-white icon-md"></i>
                <div class="px-3">
                  <p class="font-weight-bold fs-6">Total {{"applications"|translate}}</p>
                  <p class="">
                    <span class="mb-3">{{ nbApplications() }} {{"applications"|translate}}
                    </span> 
                  </p>
                </div>
              </div>
              <div class="card-footer bg-transparent border-white">
                <a href="#" class="text-white text-decoration-none float-right"><i class="ti-eye mr-1"></i>{{"view_all"|translate}}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <p class="card-title">{{"users"|translate}}</p>
          </div>
          <app-piechart
            [chartData]="usersByTypeData()"
            [chartName]="usersByType"
            [widthSize]="widthSize"
            [heightSize]="heightSize"
          ></app-piechart>
        </div>
      </div>
    </div>
    <div class="col-md-3 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <p class="card-title">{{"entreprises"|translate}}</p>
          </div>
          <app-piechart
            [chartData]="entreprisesByCategory()"
            [chartName]="usersByType"
            [widthSize]="widthSize"
            [heightSize]="heightSize"
          ></app-piechart>
        </div>
      </div>
    </div>
    <div class="col-md-3 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <p class="card-title">{{"jobs"|translate}}</p>
          </div>
          <app-piechart
            [chartData]="missionsByCategory()"
            [chartName]="usersByType"
            [widthSize]="widthSize"
            [heightSize]="heightSize"
          ></app-piechart>
        </div>
      </div>
    </div>
    <div class="col-md-3 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <p class="card-title">{{"applications"|translate}}</p>
          </div>
          <app-piechart
            [chartData]="applicationsByStatus()"
            [chartName]="usersByType"
            [widthSize]="widthSize"
            [heightSize]="heightSize"
          ></app-piechart>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 grid-margin stretch-card">
      <div class="card position-relative">
        <div class="card-body">
          <div  id="detailedReports" class="carousel slide detailed-report-carousel position-static pt-2" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="row">
                  <div class="col-md-12 d-flex flex-column justify-content-start">
                      <h1 class="text-primary">{{ nbUsersTotal() }} {{"label_users"|translate}}</h1>
                  </div>
                  <div class="row align-items-center">
                    <div class="col-md-6">
                      <div class="table-responsive mb-3 mb-md-0 mt-3">
                        <table class="table table-borderless report-table">
                          @for (item of nbUsersLast6Months(); track
                          $index) {
                          <tr>
                            <td class="text-muted">
                              {{ item.month }}/{{ item.year }}
                            </td>

                            <td>
                              <h5 class="font-weight-bold mb-0">
                                <div class="progress">
                                  <!-- Candidate progress bar -->
                                  <div class="progress-bar progress-bar-striped bg-info" role="progressbar" [style.width.%]="(item.candidat / item.totalMonth * 100)" attr.aria-valuenow="{{ item.candidat }}" aria-valuemin="0" attr.aria-valuemax="{{ item.totalMonth }}">
                                    @if(item.candidat > 0) {
                                      {{ item.candidat }} Candidates
                                    }
                                  </div>
                                  
                                  <!-- Recruiter progress bar -->
                                  <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width.%]="(item.entreprise / item.totalMonth * 100)" attr.aria-valuenow="{{ item.entreprise }}" aria-valuemin="0" attr.aria-valuemax="{{ item.totalMonth }}">
                                    @if(item.entreprise > 0) {
                                      {{ item.entreprise }} Recruiters
                                    }
                                  </div>
                                  
                                  <!-- Admin progress bar -->
                                  <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" [style.width.%]="(item.admin / item.totalMonth * 100)" attr.aria-valuenow="{{ item.admin }}" aria-valuemin="0" attr.aria-valuemax="{{ item.totalMonth }}">
                                    @if(item.admin > 0) {
                                      {{ item.admin }} Admins
                                    }
                                  </div>
                              </div>
                              
                              </h5>
                            </td>
                          </tr>
                          }
                        </table>
                      </div>

                    </div>
                    <div class="col-md-6">
                      <app-barchart [chartData]="nbUsersLast6Months()" [chartName]="barChartName"></app-barchart>
                    </div>
                  </div>

                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div
                    class="col-md-12 col-xl-3 d-flex flex-column justify-content-start"
                  >
                    <div class="ml-xl-4 mt-3">
                      <p class="card-title">Detailed Reports</p>
                      <h1 class="text-primary">$34040</h1>
                      <h3 class="font-weight-500 mb-xl-4 text-primary">
                        North America
                      </h3>
                      <p class="mb-2 mb-xl-0">
                        The total number of sessions within the date range. It
                        is the period time a user is actively engaged with your
                        website, page or app, etc
                      </p>
                    </div>
                  </div>
                  <div class="col-md-12 col-xl-9">
                    <div class="row">
                      <div class="col-md-6 border-right">
                        <div class="table-responsive mb-3 mb-md-0 mt-3">
                          <table class="table table-borderless report-table">
                            <tr>
                              <td class="text-muted">Illinois</td>
                              <td class="w-100 px-0">
                                <div class="progress progress-md mx-4">
                                  <div
                                    class="progress-bar bg-primary"
                                    role="progressbar"
                                    style="width: 70%"
                                    aria-valuenow="70"
                                    aria-valuemin="0"
                                    aria-valuemax="100"
                                  ></div>
                                </div>
                              </td>
                              <td>
                                <h5 class="font-weight-bold mb-0">713</h5>
                              </td>
                            </tr>
                            <tr>
                              <td class="text-muted">Washington</td>
                              <td class="w-100 px-0">
                                <div class="progress progress-md mx-4">
                                  <div
                                    class="progress-bar bg-warning"
                                    role="progressbar"
                                    style="width: 30%"
                                    aria-valuenow="30"
                                    aria-valuemin="0"
                                    aria-valuemax="100"
                                  ></div>
                                </div>
                              </td>
                              <td>
                                <h5 class="font-weight-bold mb-0">583</h5>
                              </td>
                            </tr>
                            <tr>
                              <td class="text-muted">Mississippi</td>
                              <td class="w-100 px-0">
                                <div class="progress progress-md mx-4">
                                  <div
                                    class="progress-bar bg-danger"
                                    role="progressbar"
                                    style="width: 95%"
                                    aria-valuenow="95"
                                    aria-valuemin="0"
                                    aria-valuemax="100"
                                  ></div>
                                </div>
                              </td>
                              <td>
                                <h5 class="font-weight-bold mb-0">924</h5>
                              </td>
                            </tr>
                            <tr>
                              <td class="text-muted">California</td>
                              <td class="w-100 px-0">
                                <div class="progress progress-md mx-4">
                                  <div
                                    class="progress-bar bg-info"
                                    role="progressbar"
                                    style="width: 60%"
                                    aria-valuenow="60"
                                    aria-valuemin="0"
                                    aria-valuemax="100"
                                  ></div>
                                </div>
                              </td>
                              <td>
                                <h5 class="font-weight-bold mb-0">664</h5>
                              </td>
                            </tr>
                            <tr>
                              <td class="text-muted">Maryland</td>
                              <td class="w-100 px-0">
                                <div class="progress progress-md mx-4">
                                  <div
                                    class="progress-bar bg-primary"
                                    role="progressbar"
                                    style="width: 40%"
                                    aria-valuenow="40"
                                    aria-valuemin="0"
                                    aria-valuemax="100"
                                  ></div>
                                </div>
                              </td>
                              <td>
                                <h5 class="font-weight-bold mb-0">560</h5>
                              </td>
                            </tr>
                            <tr>
                              <td class="text-muted">Alaska</td>
                              <td class="w-100 px-0">
                                <div class="progress progress-md mx-4">
                                  <div
                                    class="progress-bar bg-danger"
                                    role="progressbar"
                                    style="width: 75%"
                                    aria-valuenow="75"
                                    aria-valuemin="0"
                                    aria-valuemax="100"
                                  ></div>
                                </div>
                              </td>
                              <td>
                                <h5 class="font-weight-bold mb-0">793</h5>
                              </td>
                            </tr>
                          </table>
                        </div>
                      </div>
                      <div class="col-md-6 mt-3">
                        <canvas id="south-america-chart"></canvas>
                        <div id="south-america-legend"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <a
              class="carousel-control-prev"
              href="#detailedReports"
              role="button"
              data-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="sr-only">Previous</span>
            </a>
            <a
              class="carousel-control-next"
              href="#detailedReports"
              role="button"
              data-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>