<div class="graph-item">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h3 class="ml-1">Tasks</h3>
      <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
          <button type="button" class="btn btn-sm btn-outline-secondary">
            <i class="bi bi-filetype-csv"></i>
          </button>
          <button type="button" class="btn btn-sm btn-outline-secondary">
            <i class="bi bi-filetype-pdf"></i>
          </button>
          <div class="dropdown show">
            <a class="btn btn-sm btn-outline-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="bi bi-image"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
              <li>
                <button type="button" class="btn btn-sm">
                  <i class="bi bi-filetype-png"></i>
                </button>
              </li>
              <li>
                <button type="button" class="btn btn-sm">
                  <i class="bi bi-filetype-jpg"></i>
                </button>
              </li>
              <li>
                <button type="button" class="btn btn-sm">
                  <i class="bi bi-filetype-svg"></i>
                </button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
   
    <div class="content p-3 scrollable">
        @for (task of tasks; track task) {
            <span class="badge badge-success mb-1">{{task.NbCommands}} Commands</span>
            <div class="progress">
                <div class="progress-bar bgt-ready" role="progressbar" [style.width.%]="(task.States.READY / task.NbCommands) * 100" [attr.aria-valuenow]="task.States.READY" aria-valuemin="0" aria-valuemax="100"></div>
                <div class="progress-bar progress-bar-animated bgt-to_run" role="progressbar" [style.width.%]="(task.States.TO_RUN / task.NbCommands) * 100" [attr.aria-valuenow]="task.States.TO_RUN" aria-valuemin="0" aria-valuemax="100"></div>
                <div class="progress-bar progress-bar-animated bgt-running" role="progressbar" [style.width.%]="(task.States.RUNNING / task.NbCommands) * 100" [attr.aria-valuenow]="task.States.RUNNING" aria-valuemin="0" aria-valuemax="100"></div>
                <div class="progress-bar progress-bar-animated bgt-success" role="progressbar" [style.width.%]="(task.States.SUCCESS / task.NbCommands) * 100" [attr.aria-valuenow]="task.States.SUCCESS" aria-valuemin="0" aria-valuemax="100"></div>
                <div class="progress-bar progress-bar-animated bgt-failed" role="progressbar" [style.width.%]="(task.States.FAILED / task.NbCommands) * 100" [attr.aria-valuenow]="task.States.FAILED" aria-valuemin="0" aria-valuemax="100"></div>
                <div class="progress-bar progress-bar-animated bgt-unknown-time_out" role="progressbar" [style.width.%]="(task.States.UNKNOWN_TIMEOUT / task.NbCommands) * 100" [attr.aria-valuenow]="task.States.UNKNOWN_TIMEOUT" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div id="progressBarLabels" class="row">
              @if (task.States.READY > 0) {
                <div class="col-auto" >
                  <small><i class="bi bi-circle-fill txt-ready me-1"></i> READY ({{task.States.READY}}) </small>
                </div>
              }

              @if (task.States.TO_RUN > 0) {
              <div class="col-auto" >
                <small><i class="bi bi-circle-fill txt-to_run me-1"></i> TO RUN ({{task.States.TO_RUN}}) </small>
              </div>
            }

            @if (task.States.RUNNING > 0) {
              <div class="col-auto" >
                <small><i class="bi bi-circle-fill txt-running me-1"></i> RUNNING ({{task.States.RUNNING}}) </small>
              </div>
            }
            
            @if (task.States.SUCCESS > 0) {
              <div class="col-auto" >
                <small><i class="bi bi-circle-fill txt-success me-1"></i> SUCCESS ({{task.States.SUCCESS}}) </small>
              </div>
            }

            @if (task.States.FAILED > 0) {
              <div class="col-auto" >
                <small><i class="bi bi-circle-fill txt-failed me-1"></i> FAILED ({{task.States.FAILED}}) </small>
              </div>
            }

            @if (task.States.UNKNOWN_TIMEOUT > 0) {
              <div class="col-auto" >
                <small><i class="bi bi-circle-fill txt-unknown-time_out me-1"></i> UNKNOWN TIME OUT ({{task.States.UNKNOWN_TIMEOUT}}) </small>
              </div>
            }
            
            </div>
        }
        @empty {
            <div class="alert alert-warning" role="alert">
                No tasks found!
              </div>
        }
    </div>
  
  </div>