<div class="graph-item">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h3 class="ml-1">Doughnut chart</h3>
      <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
          <button type="button" class="btn btn-sm btn-outline-secondary" (click)="saveAsCsv()"><i class="bi bi-filetype-csv"></i></button>
          <button type="button" class="btn btn-sm btn-outline-secondary" (click)="saveAsPdf()"><i class="bi bi-filetype-pdf"></i></button>
          <div class="dropdown show">
            <a class="btn btn-sm btn-outline-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="bi bi-image"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
              <li><button type="button" class="btn btn-sm" (click)="saveAsPng()"><i class="bi bi-filetype-png"></i></button></li>
              <li><button type="button" class="btn btn-sm" (click)="saveAsJpg()"><i class="bi bi-filetype-jpg"></i></button></li>
              <li><button type="button" class="btn btn-sm" (click)="saveAsSvg()"><i class="bi bi-filetype-svg"></i></button></li>
            </ul>
          </div>
        </div>
      </div>
  </div>
  <div class="btn-group d-flex justify-content-center px-5" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-sm btn-outline-secondary" (click)="getLastHourData()" [ngClass]="{'active': isHourButtonActive}">Hour</button>
    <button type="button" class="btn btn-sm btn-outline-secondary" (click)="getLastDayData()" [ngClass]="{'active': isDayButtonActive}">Day</button>
    <button type="button" class="btn btn-sm btn-outline-secondary" (click)="getLastWeekData()" [ngClass]="{'active': isWeekButtonActive}">Week</button>
  </div>
    <div class="content p-3">
        <canvas baseChart width="400" height="400"
            [id]="doughnutChartTitle"
            [title]="doughnutChartTitle"
            [labels]="doughnutChartLabels"
            [datasets]="doughnutChartDatasets"
            [options]="doughnutChartOptions"
            [legend]="true"
            [type]="'doughnut'">
        </canvas>
    </div>

</div>
