<div class="content-wrapper">
    <div class="row">
        <div class="col-md-12 grid-margin">
            <div class="row">
                <div class="col-md-12 grid-margin">
                    <div class="row">
                        <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                            <h3 class="font-weight-bold">Gestion des missions</h3>
                        </div>
                        <div class="col-12 col-xl-4">
                            <div class="justify-content-end d-flex">
                                <div class="dropdown flex-md-grow-1 flex-xl-grow-0">
                                    <button class="btn btn-sm btn-light bg-white" [routerLink]="['/offres/add']">
                                        <i class="ti ti-plus"></i> Add Mission
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-12">
                      <div class="table-responsive">
                        <table class="table no-footer">
                            <thead>
                                <tr role="row">
                                    <th>Title</th>
                                    <th>Entreprise</th>
                                    <th>Type</th>
                                    <th>Catégorie</th>
                                    <th>Date de début</th>
                                    <th>Date de fin</th>
                                    <th>Statut</th>
                                    <th>Applications</th>
                                    <th colspan="3">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (mission of missions | paginate : {
                                    itemsPerPage: missionsPerPage,
                                    currentPage: currentPage,
                                    totalItems: totalMissionsCount
                                  }; track mission) { 
                                    <tr class="odd">
                                        <td>{{mission.title}} </td>
                                        <td>{{mission.entreprise.name}}</td>
                                        <td>
                                            @if(mission.isFinalClient) {
                                                Mission en interne
                                            }
                                            @else {
                                                Mission chez<p><b>{{mission.missionEntreprise.name}}</b>
                                                </p>                                              
                                            }
                                        </td>
                                        <td>{{mission.category}}</td>
                                        <td>{{mission.dateDebut|date: 'dd/MM/yyyy'}}</td>
                                        <td>
                                            @if(mission.dateFin) {
                                                {{mission.dateFin|date: 'dd/MM/yyyy'}}
                                            } 
                                            @else {
                                                -
                                            }
                                            </td>
                                        <td>
                                                <button class="btn btn-sm" [ngClass]="{'btn-success': mission.published, 'btn-danger': !mission.published}" (click)="toggleVerificationStatus(mission)">
                                                    {{ mission.published ? 'Published' : 'Not Published' }}
                                                </button>
                                           
                                        </td>
                                        <td>
                                            {{mission.applications.length}}
                                            @if(mission.applications.length > 0) {
                                                <button class="btn btn-sm btn-warning"  data-bs-toggle="modal" data-bs-target="#applicationsModal"><i class="ti ti-eye"></i></button>
                                                <div class="modal fade" id="applicationsModal" tabindex="-1" aria-labelledby="viewModal" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <div class="d-flex align-items-center">
                                                                    <h3>Applications for : <b>{{mission.title|uppercase}}</b></h3>
                                                                </div>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <h2 class="title-step">Applications</h2>
                                                                <ul>
                                                                    @for(application of mission.applications; track application) {
                                                                        <li>
                                                                            <b>{{application.candidate.firstName}} {{application.candidate.lastName}}</b> 
                                                                            <p>
                                                                                <b>CV:</b> <a href="{{application.candidate.cv}}" target="_blank">Download</a>
                                                                            </p>
                                                                            <p>
                                                                                <b>Lettre de motivation:</b> <a href="{{application.candidate.lettreMotivation}}" target="_blank">Download</a>
                                                                            </p>
                                                                            <p>
                                                                                <b>Statut:</b> 
                                                                                <button class="btn btn-sm" [ngClass]="{'btn-success': application.status === 'accepted', 'btn-danger': application.status === 'rejected', 'btn-warning': application.status === 'pending'}">
                                                                                    {{ application.status }}
                                                                                </button>
                                                                            </p>
                                                                        </li>
                                                                    }
                                                                </ul>
                                                            
                                                                        
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </td>
                                        <td>
                                            <!-- View Modal -->
                                            <button class="btn btn-info"  data-bs-toggle="modal" data-bs-target="#viewModal"><i class="ti ti-eye"></i></button>
                                            <div class="modal fade" id="viewModal" tabindex="-1" aria-labelledby="viewModal" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <div class="d-flex align-items-center">
                                                                <h3>Mission: <b>{{mission.title|uppercase}}</b></h3>
                                                            </div>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <h2 class="title-step p-2">Détails du poste</h2>
                                                                <p>
                                                                    <b>Entreprise:</b> {{mission.entreprise.name}}
                                                                </p>
                                                                <p>
                                                                    <b>Type:</b> {{mission.isFinalClient ? 'Mission en interne' : 'Mission chez ' + mission.missionEntreprise.name}}
                                                                </p>
                                                                <p>
                                                                    <b>Catégorie:</b> {{mission.category}}
                                                                </p>
                                                                <p>
                                                                    <b>Date de début:</b> {{mission.dateDebut|date: 'dd/MM/yyyy'}}
                                                                </p>
                                                                <p>
                                                                    <b>Date de fin:</b> 
                                                                    @if(mission.dateFin) {
                                                                        {{mission.dateFin|date: 'dd/MM/yyyy'}}
                                                                    }
                                                                    @else {
                                                                    -
                                                                    }
                                                                </p>
                                                                <p>
                                                                    <b>Adresse:</b> {{mission.isFinalClient ? mission.entreprise.address : mission.missionEntreprise.address}}
                                                                </p>
                                                                <p>
                                                                    <b>Statut:</b> 
                                                                        {{ mission.published ? 'Published' : 'Not Published' }}
                                                                    
                                                                </p>
                                                                <p>
                                                                    <b>Description:</b> {{mission.description}}
                                                                </p>
                                                                
                                                                <b>Compétences requises:</b> 
                                                                <ul>
                                                                    @for(skill of mission.requiredSkills; track skill) {
                                                                        <li>
                                                                            {{skill}}
                                                                        </li>
                                                                    }
                                                                </ul>

                                                                <b>Avantages:</b>
                                                                <ul>
                                                                    @for(advantage of mission.previleges; track advantage) {
                                                                        <li>
                                                                            {{advantage}}
                                                                        </li>
                                                                    }
                                                                </ul>
                                                                <p>
                                                                    <b>Rénumération:</b> {{mission.renumeration}} €
                                                                </p>
                                                                <h2 class="title-step p-2">Candidatures</h2>
      <hr/>
                                                                <b>Applications:</b> {{mission.applications.length}} 
                                                                <ul>
                                                                    @for(application of mission.applications; track application) {
                                                                        <li>
                                                                            
                                                                        </li>
                                                                    }
                                                                </ul>
                                                                <hr/>
                                                                    
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- End View Modal -->

                                            <!-- Edit Modal -->
                                            <button class="btn btn-primary"  data-bs-toggle="modal" data-bs-target="#editModal"><i class="ti ti-pencil"></i></button>
                                            <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModal" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Edit mission {{mission.lastName}} {{mission.firstName}} </h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        ...
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                        <button type="button" class="btn btn-primary">Save Changes</button>
                                                    </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- End Edit Modal -->
                                           
                                            <!-- Delete Modal -->
                                            <button class="btn btn-danger"  data-bs-toggle="modal" data-bs-target="#deleteModal"><i class="ti ti-trash"></i></button>
                                            <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModal" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Delete Confirmation </h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        Are you sure to delete this mission : <b>{{mission.lastName}} {{mission.firstName}}</b> ?
                                                        {{mission._id}}
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                        <button type="button" class="btn btn-danger" (click)="deletemission(mission._id)">Delete</button>
                                                    </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- End Delete Modal -->
                                            
                                        </td>
                                    </tr>
                            }
                            @empty {
                                    <tr>
                                        <td colspan="10" class="text-center">No missions Found</td>
                                    </tr>
                                }   
                            </tbody>
                        </table>                         
                    </div>
                </div>
                </div>
              </div>
              <div class="footer">
                  <div class="d-flex justify-content-center">
                    <pagination-controls
                        previousLabel="Prev"
                        nextLabel="Next"
                        (pageChange)="pageChangeEvent($event)"
                        ></pagination-controls>

                    </div>
              </div>
        </div>
    </div>
</div>
