<div class="col-auto  bg-dark">
  <ul class="nav flex-column">
    <li class="nav-item">
        <button class="btn btn-sidenav" type="button" data-bs-toggle="dropdown" aria-expanded="true">
            <i class="bi bi-grid-fill"></i>
        </button>

        <ul class="col-auto dropdown-menu" aria-labelledby="btnItemDisplay">
            <li>
                <button class="dropdown-item btn-primary btnItemDisplay" type="button" value="1">
                    1 item/row
                </button>
                <button class="dropdown-item btn-primary btnItemDisplay" type="button" value="2">
                    2 items/row
                </button>
                <button class="dropdown-item btn-primary btnItemDisplay" type="button" value="3">
                    3 items/row
                </button>
                <button class="dropdown-item btn-primary btnItemDisplay" type="button" value="4">
                    4 items/row
                </button>
            </li>
        </ul>
    </li>
    <li class="nav-item">
      <button
        class="btn btn-sidenav"
        type="button"
      >
      <i class="bi bi-file-earmark-pdf-fill"></i>
      </button>
 
    </li>
   
  </ul>
</div>
