<section>
  <div class="head">
    <h1 class="title">Dashboard</h1>
    <div class="btn-group">
      <ul class="nav">
        <li class="nav-item mx-1">
          <div class="dropdown show">
            <a
              class="btn btn-sm btn-outline-secondary dropdown-toggle"
              href="#"
              role="button"
              id="dropdownMenuLink"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <i class="bi bi-grid-fill"></i> Display
            </a>
            <ul
              class="dropdown-menu dropdown-menu-right"
              aria-labelledby="dropdownMenuLink"
            >
              <li>
                <button
                  class="dropdown-item btn-primary displayItemDisplay"
                  type="button"
                  (click)="changeWidgetsOrder(1)"
                >
                  1 item/row
                </button>
              </li>
              <li>
                <button
                  class="dropdown-item btn-primary displayItemDisplay"
                  type="button"
                  (click)="changeWidgetsOrder(2)"
                >
                  2 items/row
                </button>
              </li>
              <li>
                <button
                  class="dropdown-item btn-primary displayItemDisplay"
                  type="button"
                  (click)="changeWidgetsOrder(3)"
                >
                  3 items/row
                </button>
              </li>
              <li>
                <button
                  class="dropdown-item btn-primary displayItemDisplay"
                  type="button"
                  (click)="changeWidgetsOrder(4)"
                >
                  4 items/row
                </button>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <button
            class="btn btn-sm btn-outline-secondary"
            type="button"
            (click)="generatePDF()"
          >
            <i class="bi bi-file-earmark-pdf-fill"></i> Export
          </button>
        </li>
      </ul>
    </div>
  </div>
  <hr>
  <div class="graphs">
    <app-donughtchart [chartName]="probesName"></app-donughtchart>
    <app-log-probes [chartName]="logProbesName"></app-log-probes>
    <app-barchart  [chartName]="alertUseCaseName"></app-barchart>
    <app-linechart [chartData]="alertFilesData" [chartName]="alertFilesName"></app-linechart>
    <app-barchart [chartName]="alertFlowsName"></app-barchart>
    <app-piechart [chartData]="filesUploadedData" [chartName]="filesUploadedName"></app-piechart>
    <app-piechart [chartData]="filesExportedData" [chartName]="filesExportedName"></app-piechart>
    <app-tasks [chartName]="tasksName"></app-tasks>
  </div>
</section>
