<div class="content-wrapper">
    <div class="row">
        <div class="col-12 col-xl-8 mb-4 mb-xl-0">
            <h3 class="font-weight-bold">Ajout d'un candidat</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <form class="pt-3"[formGroup]="myGroup">
                        <fieldset>
                            <div class="row">
                                <div class="form-group col-md-4 col-sm-12">
                                    <label for="firstname">Nom</label>
                                    <input
                                    id="firstname"
                                    class="form-control valid"
                                    name="firstname"
                                    type="text"
                                    aria-invalid="false"
                                    />
                                </div>
                                <div class="form-group col-md-4 col-sm-12">
                                    <label for="lastname">Prénom</label>
                                    <input
                                    id="lastname"
                                    class="form-control valid"
                                    name="lastname"
                                    type="text"
                                    aria-invalid="false"
                                    />
                                </div>
                                <div class="form-group col-md-4 col-sm-12">
                                    <label for="username">Nom d'utilisateur</label>
                                    <input
                                    id="username"
                                    class="form-control"
                                    name="username"
                                    type="text"
                                    />
                                </div>
                                <div class="form-group col-md-4 col-sm-12">
                                    <label for="email">Email</label>
                                    <input
                                    id="email"
                                    class="form-control"
                                    name="email"
                                    type="email"
                                    />
                                </div>
                                <div class="form-group col-md-4 col-sm-12">
                                    <label for="password">Mot de passe</label>
                                    <input
                                    id="password"
                                    class="form-control"
                                    name="password"
                                    type="password"
                                    />
                                </div>
                                <div class="form-group col-md-4 col-sm-12">
                                    <label for="confirm_password"
                                    >Confirmation de mot de passe</label
                                    >
                                    <input
                                    id="confirm_password"
                                    class="form-control"
                                    name="confirm_password"
                                    type="password"
                                    />
                                </div>
                                <div class="form-group col-md-4 col-sm-12">
                                    <label for="phone">Téléphone</label>
                                    <input
                                    id="phone"
                                    class="form-control"
                                    name="phone"
                                    type="text"
                                    />
                                </div>
                                <div class="form-group col-md-4 col-sm-12">
                                    <label for="cv">CV</label>
                                    <input id="cv" class="form-control" name="cv" type="file" />
                                </div>
                                <div class="form-group col-md-4 col-sm-12">
                                    <label for="linkedin">Linkedin</label>
                                    <input
                                    id="linkedin"
                                    class="form-control"
                                    name="linkedin"
                                    type="text"
                                    />
                                </div>
                                <div class="form-group col-md-4 col-sm-12">
                                    <label for="portfolio">Portfolio</label>
                                    <input
                                    id="portfolio"
                                    class="form-control"
                                    name="portfolio"
                                    type="text"
                                    />
                                </div>
                                <div class="form-group col-md-4 col-sm-12">
                                    <label for="github">Github</label>
                                    <input
                                    id="github"
                                    class="form-control"
                                    name="github"
                                    type="text"
                                    />
                                </div>
                                <div class="form-group col-md-4 col-sm-12">
                                    <label for="competences">Compétences</label>
                                    <tag-input  [(ngModel)]="items" id="competences" name="experiences"  [placeholder]="'Ajoute une compétence'" [secondaryPlaceholder]="'Ajoute une 1ère compétence'" >
                                    </tag-input>
                                </div>
                                <div class="form-group col-md-4 col-sm-12">
                                    <label for="formations">Formations</label>
                                    <input
                                    id="formations"
                                    class="form-control"
                                    name="formations"
                                    type="text"
                                    />
                                </div>
                                <div class="form-group col-md-4 col-sm-12">
                                    <label for="interests">Intérêts</label>
                                    <tag-input  [(ngModel)]="items" id="interests" name="interests" [placeholder]="'Ajoute un intérêt'" [secondaryPlaceholder]="'Ajoute un 1èr intérêt'" >
                                    </tag-input>
                                </div>

                                <div class="form-group col-md-4 col-sm-12">
                                    <label for="photo">Photo</label>
                                    <input
                                    id="photo"
                                    class="form-control"
                                    name="photo"
                                    type="file"
                                    />
                                </div>
                            </div>
                            <div class="row">
                                <label>Expériences</label>
                                <div class="form-group col-md-2 col-sm-12">
                                    <label for="beginDate">Date de début</label>
                                    <input id="beginDate" class="form-control" name="beginDate" type="date" />
                                </div>
                                <div class="form-group col-md-2 col-sm-12">
                                    <label for="beginEnd">Date de fin</label>
                                    <input id="beginEnd" class="form-control" name="beginDate" type="date" />
                                </div>
                                <div class="form-group col-md-3 col-sm-12">
                                    <label for="post">Poste</label>
                                    <input id="post" class="form-control" name="post" type="text" />
                                </div>
                                <div class="form-group col-md-5 col-sm-12">
                                    <label for="description">Description</label>
                                    <textarea id="description" class="form-control" name="description" type="date" ></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="submit"></label>
                            <input
                                class="btn btn-primary mx-1"
                                type="submit"
                                value="Ajouter"
                                id="submit"
                                />
                                <label for="reset"></label>
                                <input id="reset" type="reset" class="btn btn-info" value="Reset" />
                            </div>
                        </fieldset>
                        </form>
                    </div>
                    
                    
                   


                </div>
            </div>
        </div>
    </div>
</div>

