<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top h-md-100">
  <div class="container-fluid">
    <div class="d-flex">
      <a class="d-flex align-items-center navbar-brand" href="/dashboard">
        <img class="align-self-center" id="logo" src="../../../assets/images/detection-orange.svg">
        Jizô-M
        <span class="align-self-center text-white mx-1" id="production-version"> {{productionVersion}}</span>
      </a>
    </div> 
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav w-100 align-items-md-center">
        <li class="nav-item">
          <div class="dropdown show">
            <a
              class="dropdown-toggle"
              href="#"
              role="button"
              id="dropdownMenuLink"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <i class="bi bi-graph-up-arrow"></i> Dashboard
            </a>
            <ul
              class="dropdown-menu align-items-md-center"
              aria-labelledby="dropdownMenuLink"
            >
              <li>
                <a routerLink="/dashboard/probes">
                  <div class="icon">
                    <i class="bi bi-shield-lock"></i>
                  </div>
                   Security
               </a>
              </li>
              <li>
                <a routerLink="/dashboard/probes">
                  <div class="icon">
                    <i class="bi bi-list"></i>
                  </div>
                   System
               </a>
              </li>
              <li>
                <a routerLink="/dashboard/probes">
                  <div class="icon">
                    <i class="bi bi-bag-heart"></i>
                  </div>
                   Health Probes
               </a>
              </li>
              
            </ul>
          </div>
        </li>
        <li class="nav-item">
            <a routerLink="/dashboard/probes">
                <div class="icon">
                    <i class="bi bi-diagram-3-fill"></i>
                </div>
                <span>Probes</span>
            </a>
        </li>
        <li class="nav-item">
            <a routerLink="/dashboard/orders">
                <div class="icon">
                    <i class="bi bi-list-task"></i>
                </div>
                <span>Tasks</span>
            </a>
        </li>
        <li class="nav-item">
            <a routerLink="/dashboard/sales">
                <div class="icon">
                    <i class="bi bi-clipboard-fill"></i>
                </div>
                <span>Rules</span>
            </a>
        </li>
        <li class="nav-item">
            <a routerLink="/dashboard/customers">
                <div class="icon">
                    <i class="bi bi-bell-fill"></i>
                </div>
                <span>Alerts</span>
            </a>
        </li>
        <li class="nav-item">
            <a routerLink="/dashboard/customers">
                <div class="icon">
                    <i class="bi bi-files"></i>
                </div>
                <span>Files</span>
            </a>
        </li>
        <li class="nav-item">
            <a routerLink="/dashboard/customers">
                <div class="icon">
                    <i class="bi bi-clock-history"></i>
                </div>
                <span>Logs</span>
            </a>
        </li>

        <div class="w-100"></div>
        
        <li class="nav-item mx-1">
            <div class="dropdown show">
              <a
                class="dropdown-toggle"
                href="#"
                role="button"
                id="dropdownMenuLink"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
              <i class="bi bi-person-fill"></i> Operator
              </a>
              <ul
                class="dropdown-menu"
                aria-labelledby="dropdownMenuLink"
              >
                <li>
                  <button
                    class="dropdown-item btn-primary displayItemDisplay"
                    type="button"
                  >
                  <i class="bi bi-key-fill"></i> Password
                  </button>
                </li>
                <li>
                  <button
                    class="dropdown-item btn-primary displayItemDisplay"
                    type="button"
                    (click)="logout()"
                   
                  >
                  <i class="bi bi-box-arrow-right"></i> Logout
                  </button>
                </li>
                
              </ul>
            </div>
          </li>
        

    </ul>      
    </div>
  </div>
</nav>